body.dark-theme {
  color: var(--clr-white);
  background: var(--clr-dark-blue);
  /* about section */
}

body.dark-theme .header-basic .header-logo .logo-img.light-logo {
  display: block;
}

body.dark-theme .header-basic .header-logo .logo-img.dark-logo {
  display: none;
}

body.dark-theme .header-basic .controls-box .header-search-btn {
  color: var(--clr-white);
}

body.dark-theme .header-basic.inner-page-header .header-logo .logo-img.light-logo {
  display: block;
}

body.dark-theme .header-basic.inner-page-header .header-logo .logo-img.dark-logo {
  display: none;
}

body.dark-theme .page-hero .hero-social-icons .sc-list .sc-item .sc-link {
  color: var(--clr-white);
}

body.dark-theme .custom-form-area input[type="email"],
body.dark-theme .custom-form-area input[type="text"],
body.dark-theme .custom-form-area input[type="password"],
body.dark-theme .custom-form-area input[type="url"],
body.dark-theme .custom-form-area input[type="search"],
body.dark-theme .custom-form-area input[type="number"],
body.dark-theme .custom-form-area select,
body.dark-theme .custom-form-area textarea {
  border: 1px solid rgba(var(--clr-white-rgb), 0.25);
  background: var(--clr-dark-blue);
  color: var(--clr-white);
}

body.dark-theme .custom-form-area.input-under-lined input[type="email"],
body.dark-theme .custom-form-area.input-under-lined input[type="text"],
body.dark-theme .custom-form-area.input-under-lined input[type="password"],
body.dark-theme .custom-form-area.input-under-lined input[type="url"],
body.dark-theme .custom-form-area.input-under-lined input[type="search"],
body.dark-theme .custom-form-area.input-under-lined input[type="number"],
body.dark-theme .custom-form-area.input-under-lined select,
body.dark-theme .custom-form-area.input-under-lined textarea {
  border: none;
  border-bottom: 1px solid rgba(var(--clr-main-rgb), 0.35);
}

body.dark-theme .team-member .profile {
  background-color: var(--clr-semi-dark-blue);
}

body.dark-theme .about .cta-area .signature .signature-img {
  background-image: url("../assets/images/about/signature-light.png");
}

body.dark-theme .about .stats-counter.stats-cards .stat-box {
  background: var(--clr-semi-dark-blue);
}


.mode-switcher {
  position: relative;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
}

.mode-switcher.dark-theme {
  background-color: var(--clr-white);
}

.mode-switcher.dark-theme .icon {
  color: var(--clr-dark-blue);
}

.mode-switcher.dark-theme .go-light {
  visibility: visible;
  opacity: 1;
}

.mode-switcher.dark-theme .go-dark {
  visibility: hidden;
  opacity: 1;
}

.mode-switcher.light-theme {
  background-color: var(--clr-dark-blue);
}

.mode-switcher.light-theme .icon {
  color: var(--clr-white);
}

.mode-switcher.light-theme .go-light {
  visibility: hidden;
  opacity: 0;
}

.mode-switcher.light-theme .go-dark {
  visibility: visible;
  opacity: 1;
}

.mode-switcher .switch-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: visible;
  opacity: 1;
}

.mode-switcher .icon {
  display: flex;
  font-size: 1.25rem;
  padding: 0 0.5rem;
}