header {
    align-items: center;
    background-color: var(--clr-main);
    border-bottom: 1px solid transparent;
    box-shadow: var(--navbar-shadow);
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.h-container {
    display: grid;
    grid-template-columns: auto repeat(4, minmax(0, 1fr)) auto;
    justify-content: center;
    margin: 0 10%;
    max-width: 1320px;
    padding: 20px;
}

.logo {
    grid-column: 1;
}

.logo img {
    max-height: 30px;
    fill: currentColor;
}

/* Menu */
.nav-menu {
    grid-column: 2 / span 4;
    text-align: center;
    justify-content: center;
}

.menu {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    text-align: center;
    padding: 0;
}

.menu-item {
    display: block;
    background: 0 0;
    border: 0;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    padding: 0 2rem;
    position: relative;
}

.menu-link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: var(--clr-white) !important;
    font-weight: 500;
    transition: all 0.3s ease-in-out 0s;
}

.menu-link::before {
    background-color: var(--clr-accent) !important;
}

.menu-link::after {
    content: "";
    background-color: var(--clr-white);
    position: absolute;
    left: 0;
    top: calc(100% + 4px);
    width: 100%;
    height: 4px;
    opacity: 0;
    transition: opacity 0.3s;
}

.menu-link:hover {
    color: var(--clr-accent) !important;
}

.menu-link.selected::after {
    opacity: 0.8;
}

.plus-svg {
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
    line-height: 1;
    font-size: 0.625rem;
    margin-left: 0.25rem;
}

.menu,
.sub-menu {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex: 0 0 auto;
    width: 100%;
    justify-content: center;
}

.sub-menu {
    background-color: var(--clr-main);
    min-width: 10rem;
    left: 0;
    margin: 0;
    opacity: 0;
    padding: 1rem 1.5rem;
    position: absolute;
    top: 100%;
    transform: translateY(4rem);
    transition: all 0.3s ease-in-out 0s;
    visibility: hidden;
    z-index: 15000;
}

.sub-menu-item {
    padding: 0;
}

.sub-menu-link {
    color: var(--clr-accent);
    text-align: left;
    display: block;
}

.sub-menu-link::before,
.menu-link::before {
    content: "";
    position: absolute;
    width: 6px;
    aspect-ratio: 1/1;
    background-color: var(--clr-accent);
    scale: 0;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
}

.menu-link::before {
    left: 1rem;
}

.sub-menu-link::before {
    left: -2px;
    top: 1.8rem;
}

.has-sub-menu:hover .sub-menu {
    overflow: visible;
    display: block;
}

.sub-menu-link {
    float: none;
    color: black;
    padding: 20px 12px;
    display: block;
    text-align: left;
}

.has-sub-menu>.sub-menu {
    position: absolute;
    top: 100%;
    min-width: 18rem;
    left: 0;
    margin: 0;
    padding: 1rem 1.5rem;
    transform: translateY(4rem);
    visibility: hidden;
    opacity: 0;
    z-index: 3;
    transition: all 0.3s ease-in-out 0s;
}

.menu-item:hover>.sub-menu {
    display: block;
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.sub-menu-item {
    padding: 0;
}

.menu-link.active::before,
.menu-link:hover::before,
.sub-menu-link.active::before,
.sub-menu-link:hover::before {
    background: var(--clr-white);
    scale: 1;
}

/* Zona de control */
.controls-box {
    grid-column: 6;
    align-items: right;
}

.control {
    margin-right: 1rem;
    width: 2rem;
    height: 1.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 100;
    cursor: pointer;
    display: none;
}

.control>span {
    width: 30px;
    height: 2px;
    border-radius: 1px;
    background-color: var(--clr-white);
    transition: all 0.5s ease-in-out 0s;
}

.controls-box.close-menu .line1 {
    transform: rotate(225deg) translateY(-9px);
}

.controls-box.close-menu .line2 {
    display: none;
}

.controls-box.close-menu .line3 {
    transform: rotate(-45deg) translateY(-9px);
}

.hamburger {
    display: inline-block;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 9999;
}

.hamburger span {
    width: 100%;
    height: 3px;
    border-radius: 3px;
    display: block;
    position: absolute;
    background: #fff;
    transition: all 0.25s ease;
    transform-origin: 0px 100%;
}

.line2 {
    top: calc(50% - 2px);
}

.line3 {
    bottom: 0;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    transition: all 0.7s ease;
    width: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.li.fade {
    opacity: 1;
}

.nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
}

.mode-switcher {
    /* position: relative;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: .25rem; */
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;
}

.go-light {
    color: var(--clr-white);
}

.go-dark {
    display: none;
    color: var(--clr-white);
}

@media (min-width: 1200px) {
    .h-container {
        max-width: 1320px;
    }
}

@media (max-width: 1199px) {
    .h-container {
        display: grid;
        /* grid-template-columns: auto repeat(4, minmax(0, 1fr)) auto; */
        grid-template-columns: auto 1fr;
        align-items: center;
        justify-content: center;
        min-width: 90%;
    }

    .logo {
        display: block;
        grid-column: 1 / span 4;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100%;
        top: 90px;
        margin: 0;
        transition: all 0.5s ease-in-out 0s;
    }

    .mode-switcher {
        grid-column: 5;
        align-items: left;
        justify-content: left;
        margin: 0 2rem;
    }

    .control {
        display: flex;
        grid-column: 6;
    }
}

@media (min-width:768px) {
    .nav-menu {
        flex: 0 0 auto;
    }

    .h-container {
        margin-bottom: 0;
    }

    header a {
        margin-bottom: 0;
        margin-right: auto;
    }

    .menu {
        flex: 0 0 auto;
        width: auto;
        margin-bottom: 0;
    }
}