.dark-theme {
  --clr-main: #303030;
  --clr-accent: #DF2467;
  --clr-dark-blue: var(--clr-white);
  background-color: var(--clr-dark-grey);

  
  .light-logo {
    display: none;
  }
  
  .dark-logo {
    display: block;
  }

  .go-dark {
    display: none;
  }

  .go-light {
    display: block;
  }
}