<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700;800&amp;display=swap" />
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/lightDark.css">
    <link rel="stylesheet" href="css/cart.css">
    <title>Sanus Vita</title>
    <link rel="icon" type="image/png" sizes="32x32" href="img/ico.png"">
</head>

<body class=" dark-theme">
    <header class="" id="idheader">
    </header>

    <main>

        <section v-for="suplemento in suplementos" :key="suplemento.codigo">
            <ul class="carrito">
                <li class="cart-item">
                    <div class="info">
                        <h1>{{suplemento.nombre}}</h1>
                        <p>{{suplemento.descripcion}}</p>
                        <p>Cantidad disponible: {{suplemento.cantidad}}</p>

                    </div>
                    <div class="price">
                        <button @click="agregaralCarrito(suplemento)" class="mas" v-if="suplemento.cantidad>0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-plus">
                                <line x1="12" y1="5" x2="12" y2="19"></line>
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                            </svg>
                        </button>
                        <button @click="restardelCarrito(suplemento)" class="menos" v-if="obtenerCantidadCarrito(suplemento.codigo)>0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-minus">
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                            </svg>
                        </button>
                        <p v-if="suplemento.cantidad==0">*SIN STOCK</p>
                        <p v-else="suplemento.cantidad>0">Cantidad en carrito: {{obtenerCantidadCarrito(suplemento.codigo)}} </p>
                        <div v-if="obtenerCantidadCarrito(suplemento.codigo)>0" class="precio">
                            <h2>${{sumaSuplementos(suplemento.codigo)}}</h2>
                            <span>Precio p/Uni. ${{suplemento.precio}}</span>
                        </div>
                        <div v-if="obtenerCantidadCarrito(suplemento.codigo)==0" class="precio">
                            <h1>${{suplemento.precio}}</h1>
                        </div>
                    </div>
                </li>
            </ul>
        </section>
        <section class="carrito">
            <div class="total">
                <h2>Total</h2>
                <h3>${{total}}</h3>
            </div>
            <button class="buy"><strong>Comprar</strong></button>
        </section>
    </main>

    <footer id="idfooter">
    </footer>
    <script defer src=" js/darkMode.js"></script>
    <script defer src="js/header.js"></script>
    <script src="js/index.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
        const URL = "https://evannj.pythonanywhere.com/"
        
        const app = Vue.createApp({
            data() {
                return {
                    suplementos: [],
                    carrito: [],
                    total: 0,                    
                }
            },
            mounted() {
                this.obtenerSuplementos()
                this.obtenerCarrito()
                this.actualizarTotal()
            },
            methods: {
                obtenerSuplementos() {
                    fetch(URL + 'suplementos')
                        .then(response => response.json())
                        .then(data => {
                            this.suplementos = data
                        })
                        .catch(error => {
                            console.error(URL + 'suplementos', error)
                            alert('Error al obtener los suplementos.')
                        })
                },
                obtenerCarrito() {
                    fetch(URL + 'carrito', {
                        method: 'GET',
                        headers: {
                            'Content-Type': 'application/json'
                        },                        
                    })
                        .then(response => response.json())
                        .then(data => {
                            this.carrito = data
                            this.actualizarTotal()
                        })
                        .catch(error => {
                            console.error(URL + 'carrito', error)
                            alert('Error al obtener el carrito.')
                        })
                },
                actualizarTotal() {
                    this.total = 0
                    this.carrito.forEach(item => this.total += item.precio * item.cantidad)
                    
                },
                agregaralCarrito(suplemento) {
                    fetch(URL + 'carrito', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            codigo: suplemento.codigo,
                            cantidad: 1 // se suma una unidad
                        })
                    })
                        .then(response => response.json())
                        .then(data => {    
                            this.obtenerSuplementos()     
                            this.obtenerCarrito()                   
                            this.actualizarTotal()
                        })
                        .catch(error => {
                            console.error('Error al agregar el suplemento al carrito: ', error)
                            alert('Error al agregar el suplemento al carrito.')
                        })
                },
                restardelCarrito(suplemento) {
                    fetch(URL + 'carrito', {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            codigo: suplemento.codigo,
                            cantidad: 1 // se resta una unidad
                        })
                    })
                        .then(response => response.json())
                        .then(data => {
                            this.obtenerSuplementos()
                            this.obtenerCarrito()                                                        
                            this.actualizarTotal()
                        })
                        .catch(error => {
                            console.error('Error al restar el suplemento del carrito:', error)
                            alert('Error al restar el suplemento del carrito')
                        })
                },
                obtenerCantidadCarrito(codigo){
                    const carritoItem = this.carrito.find(item => item.codigo === codigo)
                    return carritoItem ? carritoItem.cantidad : 0

                },
                sumaSuplementos(codigo){
                    const carritoItem = this.carrito.find(item => item.codigo === codigo)
                    return carritoItem ? (carritoItem.precio * carritoItem.cantidad) : 0
                   
                }                
            }
        })
        app.mount('body')

    </script>
    </body>

</html>